[submodule "sources/rkbin"]
	path = sources/rkbin
	url = https://github.com/rockchip-linux/rkbin.git
	shallow = true
	ignore = dirty
[submodule "sources/u-boot"]
	path = sources/u-boot
	url = https://github.com/rockchip-linux/u-boot.git
	shallow = true
	ignore = dirty
[submodule "sources/kernel"]
	path = sources/kernel
	url = https://github.com/rockchip-linux/kernel.git
	shallow = true
	ignore = dirty
