name: Build
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Tools
        run: |
          sudo apt-get update

          # keep in sync with README.md
          sudo apt-get install bmaptool build-essential debos device-tree-compiler \
          gcc-arm-none-eabi xz-utils

      - name: Build
        run: sudo ./build.sh

      - name: List Results
        run: ls -sh build/*.img*
